[submodule "hardware"]
	path = hardware
	url = git@github.com:physical-computation/Warp-hardware.git
[submodule "firmware"]
	path = firmware
	url = git@github.com:physical-computation/Warp-firmware.git
